/2.Domain/Domain.Core/bin/Debug
/2.Domain/Domain.Core/bin/Release
/2.Domain/Domain.Core/obj/Debug
/2.Domain/Domain.Core/obj/Release
/2.Domain/Domain.Mappling/bin/Debug
/2.Domain/Domain.Mappling/bin/Release
/2.Domain/Domain.Mappling/obj/Debug
/2.Domain/Domain.Mappling/obj/Release
/2.Domain/Domain.Models/bin/Release
/2.Domain/Domain.Models/bin/Debug
/2.Domain/Domain.Models/obj/Debug
/2.Domain/Domain.Models/obj/Release
/2.Domain/Domain.Repository.EF/bin/Release
/2.Domain/Domain.Repository.EF/bin/Debug
/2.Domain/Domain.Repository.EF/obj/Debug
/2.Domain/Domain.Repository.EF/obj/Release
/3.Services/Service.Apis/bin/Debug
/3.Services/Service.Apis/bin/Release
/3.Services/Service.Apis/obj/Debug
/3.Services/Service.Apis/obj/Release
/3.Services/Service.IApis/bin/Debug
/3.Services/Service.IApis/bin/Release
/3.Services/Service.IApis/obj/Debug
/3.Services/Service.IApis/obj/Release
/4.UI/UI.Apis/bin/Debug
/4.UI/UI.Apis/bin/Release
/4.UI/UI.Apis/obj/Debug
/4.UI/UI.Apis/obj/Release
/4.UI/UI.Assemblers/bin/Debug
/4.UI/UI.Assemblers/bin/Release
/4.UI/UI.Assemblers/obj/Debug
/4.UI/UI.Assemblers/obj/Release
/4.UI/UI.IAssemblers/bin/Debug
/4.UI/UI.IAssemblers/bin/Release
/4.UI/UI.IAssemblers/obj/Debug
/4.UI/UI.IAssemblers/obj/Release
/2.Domain/Domain.Core/bin/UAT
/2.Domain/Domain.Core/bin/RPOD
/2.Domain/Domain.Core/bin/DEV
/2.Domain/Domain.Core/obj/DEV
/2.Domain/Domain.Core/obj/RPOD
/2.Domain/Domain.Core/obj/UAT
/2.Domain/Domain.Mappling/bin/DEV
/2.Domain/Domain.Mappling/bin/RPOD
/2.Domain/Domain.Mappling/bin/UAT
/2.Domain/Domain.Mappling/obj/RPOD
/2.Domain/Domain.Mappling/obj/UAT
/2.Domain/Domain.Mappling/obj/DEV
/2.Domain/Domain.Models/bin/RPOD
/2.Domain/Domain.Models/bin/UAT
/2.Domain/Domain.Models/bin/DEV
/2.Domain/Domain.Models/obj/RPOD
/2.Domain/Domain.Models/obj/UAT
/2.Domain/Domain.Models/obj/DEV
/2.Domain/Domain.Repository.EF/bin/RPOD
/2.Domain/Domain.Repository.EF/bin/UAT
/2.Domain/Domain.Repository.EF/bin/DEV
/2.Domain/Domain.Repository.EF/obj/UAT
/2.Domain/Domain.Repository.EF/obj/DEV
/2.Domain/Domain.Repository.EF/obj/RPOD
/3.Services/Service.Apis/bin/RPOD
/3.Services/Service.Apis/bin/UAT
/3.Services/Service.Apis/bin/DEV
/3.Services/Service.Apis/obj/UAT
/3.Services/Service.Apis/obj/DEV
/3.Services/Service.Apis/obj/RPOD
/3.Services/Service.IApis/bin/UAT
/3.Services/Service.IApis/bin/DEV
/3.Services/Service.IApis/bin/RPOD
/3.Services/Service.IApis/obj/RPOD
/3.Services/Service.IApis/obj/UAT
/3.Services/Service.IApis/obj/DEV
/4.UI/UI.Apis/bin/UAT
/4.UI/UI.Apis/bin/DEV
/4.UI/UI.Apis/bin/RPOD
/4.UI/UI.Apis/obj/UAT
/4.UI/UI.Apis/obj/DEV
/4.UI/UI.Apis/obj/RPOD
/4.UI/UI.Assemblers/bin/UAT
/4.UI/UI.Assemblers/bin/DEV
/4.UI/UI.Assemblers/bin/RPOD
/4.UI/UI.Assemblers/obj/RPOD
/4.UI/UI.Assemblers/obj/UAT
/4.UI/UI.Assemblers/obj/DEV
/4.UI/UI.IAssemblers/bin/UAT
/4.UI/UI.IAssemblers/bin/DEV
/4.UI/UI.IAssemblers/bin/RPOD
/4.UI/UI.IAssemblers/obj/UAT
/4.UI/UI.IAssemblers/obj/DEV
/4.UI/UI.IAssemblers/obj/RPOD
/4.UI/UI.Dtos/bin/Debug
/4.UI/UI.Dtos/obj/Debug
/4.UI/UI.Core/bin/Debug
/4.UI/UI.Core/obj/Debug
/3.Services/Services.Core/bin/Debug
/3.Services/Services.Core/obj/Debug
/1.Infrastructure/Domain.Core/bin/Release
/1.Infrastructure/Domain.Core/bin/RPOD
/1.Infrastructure/Domain.Core/bin/UAT
/1.Infrastructure/Domain.Core/bin/Debug
/1.Infrastructure/Domain.Core/bin/DEV
/1.Infrastructure/Domain.Core/obj/Debug
/1.Infrastructure/Domain.Core/obj/DEV
/1.Infrastructure/Domain.Core/obj/Release
/1.Infrastructure/Domain.Core/obj/RPOD
/1.Infrastructure/Domain.Core/obj/UAT
/2.Domain/Domain.Data/bin/Debug
/2.Domain/Domain.Data/obj/Debug
